.envoy-white-section{
    background-color: rgb(255, 255, 255);
    padding: 120px 16px 60px 16px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.envoy-dark-section{
    padding: 24px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-description{
    width: 320px;
}

.product-images{
    width: 1096px;
}

.fixed-product-about{
    position: sticky;
    top: 420px;
    align-self: start;
    width: 620px;
}

.product-about-title{
    width: 120px;
}

.fixed-about-2, .fixed-about-3{
    margin-top: -182px;
}

.data-section-border{
    background-color: rgba(19, 19, 19, 1);
    width: 100%;
    height: 1px;
}

.data-section-border-dark{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 1px;
}

.data-table{
    width: 760px;
}

.spec-list{
    width: 120px;
}

// Animation Prep
.about-envoy{
    transform: translateY(12rem);
}

.about-2{
    opacity: 0;
}

.about-3{
    opacity: 0;
}

.feature-border{
    opacity: 0;
    transform: scaleX(.2);
    transform-origin: left;
}

.specs-border{
    opacity: 0;
    transform: scaleX(.2);
    transform-origin: left;
}

.product-about-title{
    transform: translateY(.8rem);
}

.modular-design{
    transform: translateY(12rem);
}

.modular-image{
    opacity: 0;
}