.hero{
    font-weight: 300;
    font-size: 12rem;
    line-height: 100%;
}

.title{
    font-weight: 300;
    font-size: 4rem;
    line-height: 120%;
}

.subtitle{
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 120%;
}

.description{
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
}

.body-bold{
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.body-light{
    font-weight: 300;
    font-size: 1rem;
    line-height: 120%;
}

.caption-bold{
    font-weight: 700;
    font-size: .8rem;
    line-height: 120%;
}

.caption-light{
    font-weight: 300;
    font-size: .8rem;
    line-height: 120%;
}

// Alignment
.text-center{
    text-align: center;
}