.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.gap-100{
    gap: 100px;
}

.gap-24{
    gap: 24px;
}

.gap-16{
    gap: 16px;
}