.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.self-start{
    align-self: flex-start;
}

.self-end{
    align-self: flex-end;
}

.self-center{
    align-self: center;
}

.gap-400{
    gap: 800px;
}

.gap-200{
    gap: 200px;
}

.gap-100{
    gap: 100px;
}

.gap-60{
    gap: 60px;
}

.gap-36{
    gap: 36px;
}

.gap-24{
    gap: 24px;
}

.gap-16{
    gap: 16px;
}

.gap-8{
    gap: 8px;
}

.gap-4{
    gap: 4px;
}

// Primary Button
.primary-button{
    padding: 0px 8px;
    border: dashed  1px rgba(255,255,255,0.5);
    color: rgba(255,255,255,1);

    transition: all .3s ease;
}

.primary-button-light{
    padding: 0px 8px;
    border: dashed  1px rgba(19,19,19,0.5);
    color: rgba(19,19,19,1);

    transition: all .3s ease;
}

.primary-button:hover{
    background-color: rgba(255,255,255,1);
    color: rgba(19,19,19,1);
}

.primary-button-light:hover{
    background-color: rgba(19,19,19,1);
    color: rgba(255,255,255,1);
}

.primary-button-icon{
    fill: rgba(255,255,255,1);
    transition: all .3s ease;
}

.primary-button:hover > .primary-button-icon{
    fill: rgba(19,19,19,1);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(19,19,19,0.5);
    z-index: 99998;
    opacity: 0;
    pointer-events: none;
}

.inserted-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(255,255,255,1);
    z-index: 99999;
    opacity: 1;
    pointer-events: none;
    transform-origin: bottom center;
    transform: scale(.8) translate(0, 100%);
}

.inserted-container-envoy{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(19,19,19,1);
    z-index: 99999;
    opacity: 1;
    pointer-events: none;
    transform-origin: bottom center;
    transform: scale(.8) translate(0, 100%);
}

// Parallax Image
.parallax-image{
    object-fit: cover;
    object-position: center 0%;
}