@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@import './typography';
@import './utils';
@import './navigation';

// Setup
*{
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    overflow: hidden;
}

html{
    overflow-x: hidden;
}

body{
    background-color:  rgba(255, 255, 255, 1);
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    text-rendering: geometricPrecision;
    cursor: default;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    outline: inherit;
    cursor: pointer;
    text-align: left;
}

a{
    text-decoration: none;
    display: block;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    z-index: -10;
}

::selection{
    background: rgba(19, 19, 19, 1);
    color: rgba(255,255,255,1);
}

// Colors
.text-light{
    color: rgba(255, 255, 255, 1);
}

.text-dark{
    color: rgba(19, 19, 19, 1);
}

.bg-light{
    background-color: rgba(255, 255, 255, 1);
}

.bg-dark{
    background-color: rgba(19, 19, 19, 1);
}