@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
.hero {
  font-weight: 300;
  font-size: 12rem;
  line-height: 100%;
}

.title {
  font-weight: 300;
  font-size: 4rem;
  line-height: 120%;
}

.subtitle {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 120%;
}

.description {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 120%;
}

.body-bold {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}

.body-light {
  font-weight: 300;
  font-size: 1rem;
  line-height: 120%;
}

.caption-bold {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 120%;
}

.caption-light {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 120%;
}

.text-center {
  text-align: center;
}

.caption-mask {
  overflow: hidden;
  max-height: 0.8rem;
}

.description-mask {
  overflow: hidden;
  max-height: 1.5rem;
}

.hero-mask {
  overflow: hidden;
  max-height: 12rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.gap-400 {
  gap: 800px;
}

.gap-200 {
  gap: 200px;
}

.gap-100 {
  gap: 100px;
}

.gap-60 {
  gap: 60px;
}

.gap-36 {
  gap: 36px;
}

.gap-24 {
  gap: 24px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}

.primary-button {
  padding: 0px 8px;
  border: dashed 1px rgba(255, 255, 255, 0.5);
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.primary-button-light {
  padding: 0px 8px;
  border: dashed 1px rgba(19, 19, 19, 0.5);
  color: rgb(19, 19, 19);
  transition: all 0.3s ease;
}

.primary-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(19, 19, 19);
}

.primary-button-light:hover {
  background-color: rgb(19, 19, 19);
  color: rgb(255, 255, 255);
}

.primary-button-icon {
  fill: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.primary-button:hover > .primary-button-icon {
  fill: rgb(19, 19, 19);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(19, 19, 19, 0.5);
  z-index: 99998;
  opacity: 0;
  pointer-events: none;
}

.inserted-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(255, 255, 255);
  z-index: 99999;
  opacity: 1;
  pointer-events: none;
  transform-origin: bottom center;
  transform: scale(0.8) translate(0, 100%);
}

.inserted-container-envoy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(19, 19, 19);
  z-index: 99999;
  opacity: 1;
  pointer-events: none;
  transform-origin: bottom center;
  transform: scale(0.8) translate(0, 100%);
}

.parallax-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 0%;
     object-position: center 0%;
}

.disabled-link {
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: line-through;
}

.nav {
  padding: 16px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  overflow: visible;
  z-index: 9999;
}

.dropdown-button {
  position: relative;
}

.dropdown-button:hover {
  transition: all 0.3s ease;
}

.dropdown-button-bg {
  width: 100%;
  height: 0.8rem;
  position: absolute;
  z-index: -1;
  background-color: rgb(19, 19, 19);
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.dropdown-button:hover > .dropdown-button-bg {
  transform: scale(1, 1);
}

.dropdown {
  position: absolute;
  top: 48px;
  overflow: visible;
}

.dropdown-text {
  opacity: 0;
  display: none;
  transform: translateX(16px);
  background-color: rgb(255, 255, 255);
  width: 120px;
  transition: padding 0.3s ease;
}

.dropdown-text:hover {
  padding-left: 16px;
}

.cart-button {
  padding: 0px 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(19, 19, 19);
}

.mode-logo {
  fill: rgb(19, 19, 19);
}

footer {
  width: 100dvw;
  padding: 0px 16px;
}

.footer-container {
  padding: 60px 0px;
}

.footer-border {
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
}

.footer-letter {
  max-width: 400px;
}

.footer-input {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 16px 0px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.footer-input:focus {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: solid 1px rgb(255, 255, 255);
}

.letter-submit {
  min-width: 36px;
  min-height: 36px;
  border-radius: 100%;
}

.letter-submit-icon {
  fill: rgb(19, 19, 19);
}

.footer-links, .footer-links-group, .footer-links-container {
  overflow: visible;
}

.footer-link {
  transform: translate(0px, 0px);
  transition: transform 0.3s ease;
}

.footer-link:hover {
  transform: translate(16px, 0px);
}

.scroll-section {
  width: 100dvw;
  position: fixed;
  padding: 0px 16px;
  bottom: 16px;
}

.transition-in {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100dvw;
  height: 100dvh;
  z-index: 99999;
  top: 0;
  left: 0;
  transform-origin: top;
}

.home-dark-section-1 {
  padding: 120px 16px 600px 16px;
}

.home-dark-section-2 {
  padding: 120px 16px 60px 16px;
}

.home-light-section {
  background-color: rgb(255, 255, 255);
  padding: 16px 16px 60px 16px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

#hero-1 {
  transform-origin: bottom;
}

.hero-text {
  width: 100%;
  position: fixed;
  left: 0;
  top: 50%;
  translate: 0% -50%;
  padding: 0px 16px;
  z-index: 100;
  opacity: 1;
}

.hero-description-box-top {
  width: 200px;
  max-height: 0.8rem;
  overflow: hidden;
}

.hero-description-box-bottom {
  width: 200px;
  max-height: 0.8rem;
  overflow: hidden;
}

.hero-title {
  max-height: 4rem;
  overflow: hidden;
}

.hero-button {
  width: 200px;
  max-height: 1.1rem;
  overflow: hidden;
}

.hero-images {
  padding-bottom: 200px;
}

.home-header-image {
  width: 1200px;
  height: 680px;
  position: sticky;
  top: 160px;
}

.keyboard-item {
  position: relative;
  width: 100%;
}

.keyboard-buttons {
  padding: 16px;
  width: 100%;
  position: absolute;
  z-index: 200;
  translate: 0% -45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.home-description {
  width: 600px;
  transform: translateY(1.5rem);
}

.keyboard-image-container {
  position: relative;
  overflow: hidden;
}

.hover-image {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.keyboard-image {
  width: 100%;
}

.disabled-link {
  pointer-events: none;
  display: none;
}

.keyboard-item:hover > .hover-image {
  opacity: 1;
}

.keyboard-description {
  width: 140px;
}

.community-text {
  position: sticky;
  top: 480px;
}

.community-img-col {
  padding-top: 120px;
}

.community-img {
  width: 600px;
}

.community-col-2 {
  padding-top: 400px;
}

.mask-title {
  transform: translateY(0.8rem);
}

.row-1 {
  opacity: 0;
}

.row-2 {
  opacity: 0;
}

.row-3 {
  opacity: 0;
}

#community-button {
  max-height: 22px;
  overflow: hidden;
}

.community-button {
  transform: translateY(18px);
}

.community-col-1 > .community-img:nth-child(1) {
  height: 500px;
}

.community-col-1 > .community-img:nth-child(2) {
  height: 500px;
}

.community-col-1 > .community-img:nth-child(3) {
  height: 660px;
}

.community-col-1 > .community-img:nth-child(4) {
  height: 720px;
}

.community-col-2 > .community-img:nth-child(1) {
  height: 660px;
}

.community-col-2 > .community-img:nth-child(2) {
  height: 660px;
}

.community-col-2 > .community-img:nth-child(3) {
  height: 500px;
}

.community-col-2 > .community-img:nth-child(4) {
  height: 320px;
}

.envoy-white-section {
  background-color: rgb(255, 255, 255);
  padding: 120px 16px 60px 16px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.envoy-dark-section {
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.project-description {
  width: 320px;
}

.product-images {
  width: 1096px;
}

.fixed-product-about {
  position: sticky;
  top: 420px;
  align-self: start;
  width: 620px;
}

.product-about-title {
  width: 120px;
}

.fixed-about-2, .fixed-about-3 {
  margin-top: -182px;
}

.data-section-border {
  background-color: rgb(19, 19, 19);
  width: 100%;
  height: 1px;
}

.data-section-border-dark {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 1px;
}

.data-table {
  width: 760px;
}

.spec-list {
  width: 120px;
}

.envoy-title {
  transform: translateY(12rem);
}

.envoy-intro {
  transform: translateY(12rem);
}

.envoy-hero {
  opacity: 0;
  transform: translateY(200px);
  height: 760px;
}

.envoy-config {
  transform: translateY(20px);
}

.about-envoy {
  transform: translateY(12rem);
}

.about-2 {
  opacity: 0;
}

.about-3 {
  opacity: 0;
}

.feature-border {
  opacity: 0;
  transform: scaleX(0.2);
  transform-origin: left;
}

.specs-border {
  opacity: 0;
  transform: scaleX(0.2);
  transform-origin: left;
}

.product-about-title {
  transform: translateY(0.8rem);
}

.modular-design {
  transform: translateY(12rem);
}

.modular-image {
  opacity: 0;
  height: 760px;
}

.mod-image {
  width: 100px;
}

.about-image-1 {
  height: 720px;
}

.about-image-2 {
  height: 600px;
}

.about-image-3 {
  height: 840px;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

body {
  background-color: rgb(19, 19, 19);
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-rendering: geometricPrecision;
  cursor: default;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  text-align: left;
}

a {
  text-decoration: none;
  display: block;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: -10;
}

::-moz-selection {
  background: rgb(19, 19, 19);
  color: rgb(255, 255, 255);
}

::selection {
  background: rgb(19, 19, 19);
  color: rgb(255, 255, 255);
}

.text-light {
  color: rgb(255, 255, 255);
}

.text-dark {
  color: rgb(19, 19, 19);
}

.bg-light {
  background-color: rgb(255, 255, 255);
}

.bg-dark {
  background-color: rgb(19, 19, 19);
}

/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}/*# sourceMappingURL=style.css.map */